body {
  margin: 0; padding: 50px;
  background: rgb(232, 232, 232);
  font-family: Helvetica, Arial, sans-serif;
}

#content {
  margin: 0 auto;
  width: 600px;
  padding: 50px;
  color: #524E4E;
  background: #fff url(../images/twitter.png) no-repeat bottom right;
  border: 10px solid #D3D3D3;
}

#credits {
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
}

#credits p {
  margin: 0;
  font-size: 11px;
  color: #919191;
  text-align: center;
}

#credits a {
  color: #585757;
}

h1 {
  margin: 0 0 25px;
  padding: 0;
  color: rgb(204, 51, 51);
  font-size: 42px;
}

p {
  font-size: 24px;
}

a {
  color: rgb(0, 153, 204);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-size: 24px;
  padding-right: 20px;
  margin: 0 0 10px;
}

.field input.large {
  font-size: 32px;
  border: 1px solid #CFCBCB;
}

.field input.button {
  font-size: 32px;
}

button {
  font-size: 20px;
  margin: 0; padding: 6px;
}

.mp .name {
  font-weight: bold;
  font-size: 140%;
}

.mp .party {
  font-weight: bold;
}

.mp .conservative {
  color: #2D70C7;
}

.mp .constituency {
  font-size: 140%;
}

.error {
  color: #2EC7B5;
}

#findoutmore {
  margin-top: 40px;
}

#where {
  font-size: 85%;
  margin: 0;
}