<h1>Is your local MP on Twitter?</h1>

<form method="post">
  <fieldset>
    <div class="field">
      <label>What is your postcode?</label>
      <input class="large" type="text" />
    </div>
    <div class="field">
      <button>Check my postcode</button>
    </div>
  </fieldset>
</form>
