<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Is your local MP on Twitter?</title>
  <link type="text/css" rel="stylesheet" href="/css/main.css" media="screen" />
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
  <div id="credits">
    <p>Crafted by <a href="http://lukeredpath.co.uk">Luke Redpath</a>, deployed on <a href="http://heroku.com">Heroku</a>. Postcode lookup courtesy of <a href="http://theyworkforyou.com">TheyWorkForYou.com</a>.</p>
  </div>
  
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-201389-4");
  pageTracker._setDomainName(".co.uk");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
